<div>
    <h1>Booking a Pet</h1>
    <div class="card">
        <h1>{{name}}</h1>
        <p>{{booking_location}}</p>
        <p>{{booking_date}}</p>
        <p>{{booking_duration}}</p>
        <p>{{booking_description}}</p>
        <button>Confirm</button>
    </div>
</div>

<script src=""></script>